<div class="row">
    <h2>Compare products by cost</h2>
    <hr/>
    <div class="col-md-12">
        <canvas id="line" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-legend="false" chart-series="series"
                chart-click="onClick" chart-options="options">
        </canvas>
        <div style="">
            <button type="button" class="btn btn-link" data-ng-click="backToProductList();">
                <i class="fa fa-arrow-left"></i> Back to product list
            </button>
        </div>
    </div>
</div>
