<div class="row">
    <div class="alert {{alertClassName}}" data-ng-show="showAlert">
        <button type="button" class="close" data-ng-click="closeAlert()">×</button>
        <span data-ng-bind-html="textAlert"></span>
    </div>

    <h2>Search for products</h2>
    <hr />
    <div class="search-container">
        <div class="search-input-box">
            <input type="text" data-ng-model="searchQuery" data-ng-model-options="{ debounce: 550 }" placeholder="Type product here..." class="form-control" />
        </div>
        <div class="finded-products" scrolly="myPagingFunction()" >
            <div data-ng-repeat="product in getedProducts track by $index" class="finded-product tracking-{{product.tracking}}">
                <div>
                    <div class="finded-product-img-box">
                        <img data-ng-src="http:{{ product.imageUrl }}" />
                    </div>
                    <span data-ng-bind-html="product.name"></span>
                    <div class="price">
                        <span data-ng-bind-html="product.currentCost | priceFormater"></span>
                    </div>
                    <div class="follow-me" data-ng-hide="product.tracking">
                        <button class="follow-me-button btn-primary" data-ng-click="followProduct(product);">Follow me</button>
                    </div>
                    <div class="follow-me product-tracked" data-ng-show="product.tracking">
                        <i class="fa fa-check"></i> Product is tracked
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
