<div class="row">
    <div class="alert {{alertClassName}}" data-ng-show="showAlert">
        <button type="button" class="close" data-ng-click="closeAlert()">×</button>
        <span data-ng-bind-html="textAlert"></span>
    </div>

    <h2>Search for products</h2>
    <hr />
    <div class="search-container">
        <div class="search-input-box">
            <input type="text" data-ng-model="searchQuery" data-ng-model-options="{ debounce: 550 }" placeholder="Type product here..." class="form-control" />
        </div>
        <div class="finded-products">
            <div data-ng-repeat="product in getedProducts" class="finded-product">
                <div>
                    <div class="finded-product-img-box">
                        <img data-ng-src="http:{{ product.images.header }}" />
                    </div>
                    <span data-ng-bind-html="product.full_name"></span>
                    <div class="price">
                        <span data-ng-bind-html="product.prices | priceFromOnlinerSeparatorFormater"></span>
                    </div>
                    <div class="follow-me">
                        <button class="follow-me-button btn-primary" data-ng-click="followProduct(product);">Follow me</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
