<div class="row">
    <div class="alert {{alertClassName}}" data-ng-show="showAlert">
        <button type="button" class="close" data-ng-click="closeAlert()">×</button>
        <span data-ng-bind-html="textAlert"></span>
    </div>
    <h2>List of products tracked me</h2>
    <hr/>
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover products">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th style="width: 160px;" class="text-center">Current cost</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="product in products">
                <td class="text-center">
                    <img data-ng-src="http:{{ product.imageUrl }}"/>
                </td>
                <td>
                    <span data-ng-bind-html="product.name"></span>
                </td>
                <td>
                    <span data-ng-bind-html="product.description"></span>
                </td>
                <td class="text-center">
                    <span data-ng-bind-html="product.currentCost | priceFormater"></span><br/>
                    <span style="font-size: 10px;">{{ product.updatedAt | date: 'dd.MM.yyyy / HH:mm' }}</span>
                </td>
                <td class="text-center">
                    <input type="checkbox" data-ng-model="product.tracking" data-ng-click="changeTrackingStatus(product);">
                </td>
                <td class="text-center delete-product">
                    <i class="fa fa-times" data-ng-click="remove(product);" ></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
