<div class="form-login">
    <h2 class="form-login-heading">Sign in</h2>
    <hr />
    <button class="btn btn-large btn-facebook btn-block" type="button" data-ng-click="authExternalProvider('Twitter')">
        Sign In with Twitter
    </button>
    <button class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click="authExternalProvider('Google')">
        Sign In with Google+
    </button>
    <button class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click="authExternalProvider('Vkontakte')">
        Sign In with VK
    </button>
</div>